<!-- Options Section (Top Navbar) -->
<nav class="navbar navbar-expand-md nav-container">
    <div>
        <div class="d-flex align-items-center">
            <input type="hidden" id="InputText" name="InputText" />

            <!-- Compile Form -->
            <div id="compileForm" class="d-flex align-items-center">
                <button id="compileButton" type="submit"
                        class="btn btn-primary me-1 d-flex justify-content-center align-items-center"
                        data-bs-toggle="tooltip"
                        data-bs-placement="bottom"
                        title="Compile">
                    <img src="@Url.Content("~/images/Execute.svg")" alt="Compile">
                </button>
            </div>

            <!-- Compile & Run Form -->
            <div id="compileAndRunForm" class="d-flex align-items-center">
                <button id="compileAndRunButton" type="button"
                        class="btn btn-success me-1 d-flex justify-content-center align-items-center"
                        data-bs-toggle="tooltip"
                        data-bs-placement="bottom"
                        title="Compile & Run">
                    <img src="@Url.Content("~/images/RunOutline.svg")" alt="Compile & Run">
                </button>
            </div>

            <!-- Clear Editor Form -->
            <div id="clearForm" class="d-flex align-items-center">
                <button id="clearButton" type="submit"
                        class="btn btn-danger me-1 d-flex justify-content-center align-items-center"
                        data-bs-toggle="tooltip"
                        data-bs-placement="bottom"
                        title="Clear editor">
                    <img src="@Url.Content("~/images/ClearWindowContent.svg")" alt="Clear">
                </button>
            </div>

            <!-- File Name TextBox (Desktop Only) -->
            <input type="text" id="fileNameInputDesktop" name="fileNameInputDesktop"
                   class="form-control ms-2 d-none d-md-block"
                   placeholder="Enter file name..."
                   value="@ViewBag.DefaultFileName"
                   style="max-width: 200px; background-color: rgba(255, 255, 255, 0.7); border: 1px solid rgba(255, 255, 255, 0.3);" />
            
            <div class="d-none d-md-flex align-items-center">
                <!-- Upload Form (Desktop Only) -->
                <div id="upLoadFormDesktop" class="d-flex align-items-center">
                    <input type="file" id="fileInput" name="file" class="form-control d-none" accept=".prtn">
                    <button id="uploadButton"
                            style="margin-left: 20px;"
                            class="btn btn-primary me-1 d-flex justify-content-center align-items-center"
                            data-bs-toggle="tooltip"
                            data-bs-placement="bottom"
                            title="Upload Proton source file">
                        <img src="@Url.Content("~/images/UploadDocument.svg")" alt="Upload">
                    </button>
                </div>

                <!-- Download Form (Desktop Only) -->
                <div id="downloadFormDesktop" class="d-flex align-items-center">
                    <button id="downloadButton"
                            class="btn btn-primary me-1 d-flex justify-content-center align-items-center"
                            data-bs-toggle="tooltip"
                            data-bs-placement="bottom"
                            title="Download Proton source file">
                        <img src="@Url.Content("~/images/DownloadDocument.svg")" alt="Download">
                    </button>
                </div>

                <!-- Analyzer Toggles (Desktop Only) -->
                <div id="TogglesDesktop" class="analyzer-container" style="display: flex">
                    <span class="analyzer-title">Analyzer Display Stages:</span>
                    <label class="analyzer-toggle">
                        <input class="form-check-input" type="checkbox" value="true" id="toggleLexicalAnalyzer">
                        LexicalAnalyzer
                    </label>
                    <label class="analyzer-toggle">
                        <input class="form-check-input" type="checkbox" value="true" id="toggleSyntaxAnalyzer">
                        SyntaxAnalyzer
                    </label>
                    <label class="analyzer-toggle mb-0">
                        <input class="form-check-input" type="checkbox" value="true" id="toggleSemanticalAnalyzer">
                        SemanticalAnalyzer
                    </label>
                </div>

                <!-- Copy Form (Desktop Only) -->
                <div id="copydFormDesktop" class="d-flex align-items-center">
                    <button id="copyButton" type="submit"
                            class="btn btn-primary me-1 d-flex justify-content-center align-items-center"
                            data-bs-toggle="tooltip"
                            data-bs-placement="bottom"
                            title="Copy code">
                        <img src="@Url.Content("~/images/Copy.svg")" alt="Copy">
                    </button>
                </div>
            </div>
            </div>
        </div>

        <!-- Hamburger Menu Button (For Small Screens) -->
        <button class="navbar-toggler d-lg-none text-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" style="border:none; padding-right: 3px; padding-left: 3px;">
            <span class="bi bi-three-dots-vertical" style="font-size: 1.5rem;"></span>
        </button>

        <!-- Navbar Links (Right side controls, hidden on small screens) -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">

                <!-- File Name TextBox (Mobile Only) -->
                <li class="nav-item d-block d-md-none mt-2">
                    <input type="text" id="fileNameInputMobile" name="fileNameInputMobile"
                           class="form-control"
                           placeholder="Enter file name..."
                           style="background-color: rgba(255, 255, 255, 0.7); border: 1px solid rgba(255, 255, 255, 0.3);">
                </li>


                <!-- Upload / Download / Analyzer Toggles (Mobile Only, inside Hamburger Menu) -->
                <li class="nav-item d-block d-md-none mt-2">
                    <div class="d-flex flex-wrap align-items-center">

                        <!-- Upload Form -->
                        <form id="upLoadFormMobile" asp-controller="Editor" asp-action="Upload"
                              method="post" class="d-flex align-items-center">
                            <button id="uploadButton" type="submit"
                                    class="btn btn-primary d-flex justify-content-center align-items-center"
                                    data-bs-toggle="tooltip"
                                    data-bs-placement="bottom"
                                    title="Upload Proton source file">
                                <img src="@Url.Content("~/images/UploadDocument.svg")" alt="Upload">
                            </button>
                        </form>

                        <!-- Download Form -->
                        <form id="downloadFormMobile" asp-controller="Editor" asp-action="Download"
                              method="post" class="d-flex align-items-center">
                            <button id="downloadButton" type="submit"
                                    class="btn btn-primary d-flex justify-content-center align-items-center"
                                    data-bs-toggle="tooltip"
                                    data-bs-placement="bottom"
                                    title="Download Proton source file">
                                <img src="@Url.Content("~/images/DownloadDocument.svg")" alt="Download">
                            </button>
                        </form>

                        <!-- Copy Form (Desktop Only) -->
                        <div id="copydFormMobile" class="d-flex align-items-center">
                            <button id="copyButton" type="submit"
                                    class="btn btn-primary me-1 d-flex justify-content-center align-items-center"
                                    data-bs-toggle="tooltip"
                                    data-bs-placement="bottom"
                                    title="Copy code">
                                <img src="@Url.Content("~/images/Copy.svg")" alt="Copy">
                            </button>
                        </div>
                    </div>
                </li>

                <!-- Analyzer Toggles (Mobile Only, inside Hamburger Menu) -->
                <li class="nav-item d-block d-md-none mt-2">
                    <div id="TogglesMobile" class="analyzer-container">
                        <span class="analyzer-title">Analyzer Display Stages:</span>
                        <label class="analyzer-toggle">
                            <input class="form-check-input" type="checkbox" value="true" id="toggleLexicalAnalyzer">
                            LexicalAnalyzer
                        </label>
                        <label class="analyzer-toggle">
                            <input class="form-check-input" type="checkbox" value="true" id="toggleSyntaxAnalyzer">
                            SyntaxAnalyzer
                        </label>
                        <label class="analyzer-toggle mb-0">
                            <input class="form-check-input" type="checkbox" value="true" id="toggleSemanticalAnalyzer">
                            SemanticalAnalyzer
                        </label>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>

